/* BPG DejaVu Sans */
@font-face {
	font-family: 'BPG DejaVu Sans MT';
	src: url('https://github.com/63BITS/fonts/blob/1.0/bpg_dejavu_sans/light.eot?raw=true');
	src: url('../fonts/BPG_DejaVuSans/light.eot?#iefix') format('embedded-opentype'),
			 url('https://github.com/63BITS/fonts/blob/1.0/BPG_DejaVuSans/light.woff2?raw=true') format('woff2'),
			 url('https://github.com/63BITS/fonts/blob/1.0/BPG_DejaVuSans/light.woff?raw=true') format('woff'),
			 url('https://github.com/63BITS/fonts/blob/1.0/BPG_DejaVuSans/light.ttf?raw=true') format('truetype'),
			 url('https://github.com/63BITS/fonts/blob/1.0/BPG_DejaVuSans/light.svg#BPG DejaVu Sans MT') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'BPG DejaVu Sans MT';
	src: url('https://github.com/63BITS/fonts/blob/1.0/BPG_DejaVuSans/regular.eot?raw=true');
	src: url('../fonts/BPG_DejaVuSans/regular.eot?#iefix') format('embedded-opentype'),
			 url('https://github.com/63BITS/fonts/blob/1.0/BPG_DejaVuSans/regular.woff2?raw=true') format('woff2'),
			 url('https://github.com/63BITS/fonts/blob/1.0/BPG_DejaVuSans/regular.woff?raw=true') format('woff'),
			 url('https://github.com/63BITS/fonts/blob/1.0/BPG_DejaVuSans/regular.ttf?raw=true') format('truetype'),
			 url('https://github.com/63BITS/fonts/blob/1.0/BPG_DejaVuSans/regular.svg?raw=true#BPG DejaVu Sans MT') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BPG DejaVu Sans MT';
	src: url('https://github.com/63BITS/fonts/blob/1.0/BPG_DejaVuSans/bold.eot?raw=true');
	src: url('../fonts/BPG_DejaVuSans/bold.eot?#iefix') format('embedded-opentype'),
			 url('https://github.com/63BITS/fonts/blob/1.0/BPG_DejaVuSans/bold.woff2?raw=true') format('woff2'),
			 url('https://github.com/63BITS/fonts/blob/1.0/BPG_DejaVuSans/bold.woff?raw=true') format('woff'),
			 url('https://github.com/63BITS/fonts/blob/1.0/BPG_DejaVuSans/bold.ttf?raw=true') format('truetype'),
			 url('https://github.com/63BITS/fonts/blob/1.0/BPG_DejaVuSans/bold.svg?raw=true#BPG DejaVu Sans MT') format('svg');
	font-weight: bold;
	font-style: normal;
}